html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
nav{
    margin: 27px auto 0;
    position: relative;
    width: 470px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}
hr{
    margin-top: 25px;
}
nav a{
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animasi{
    position: absolute;
    height: 100%;
    top:0;
    z-index: 0;
    transition:all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1){
    width: 100px;
}
a:nth-child(2){
    width: 110px;
}
a:nth-child(3){
    width: 100px;
}
a:nth-child(4){
    width: 150px;
}
a:nth-child(5){
    width: 160px;
}
nav .start-home, a:nth-child(1):hover~.animasi{
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}
nav .start-home, a:nth-child(2):hover~.animasi{
    width: 110px;
    left: 100px;
    background-color: #1abc9c;
}
nav .start-home, a:nth-child(3):hover~.animasi{
    width: 100px;
    left: 210px;
    background-color: #1abc9c;
}
nav .start-home, a:nth-child(4):hover~.animasi{
    width: 160px;
    left: 310px;
    background-color: #1abc9c;
}
nav .start-home, a:nth-child(5):hover~.animasi{
    width: 100px;
    left: 0px;
    background-color: #1abc9c;
}

section{
    padding: 2rem 9%;
}
.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.home .conten{
    flex: 1 1 40rem;
}
.home .image{
    flex: 1 1 30rem;
}
.home .image img{
    width: 100%;
    padding: 1rem;
    animation: float 3s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}
.home .conten h3{
    font-size: 4rem;
    color: #333;
}
.home .conten p{
    font-size: 1.8rem;
    color: #666;
}
.btn{
    display: inline-block;
    padding: 8px 3rem;
    border: 1px solid red;
    color: red;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: red;
    transition: .3s linear;
    z-index: -1;
}
.btn:hover::before{
    width: 100%;
    left: 0;
}
.btn:hover{
    color: #fff;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}
.heading span{
    color: red;
}
.menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.menu .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
}
.menu .box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%; left: 0;
}
.menu .box-container .box .content{
    text-align: center;
    background: #fff;
    padding: 1rem;
}
.menu .box-container .box .content img{
    margin: 1.5rem;
}
.menu .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.menu .box-container .box .content h4{
    font-size: 1.3rem;
    color: #333;
}
.menu .box-container .box .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}
.menu .box-container .box:hover .image{
    top: 0;
}
.menu .box-container .box:hover .content{
    transform: translateY(100%);
}
.boxx{
  display: flex;
  justify-content: center;
  text-align: center;

}
.content h4{
    margin-top: 0px;
}
.card{
  height: 250px;
  width: 250px;
  padding: 20px 30px;
  background: rgb(182, 179, 179);
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 2px  black;
  
}
.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  color: #110501;
}
h5{
  color: rgb(17, 16, 16);
  font-size: 23px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.pra img{
  width: 90%;
  align-items: center;
}

#buton{
    border: 2px solid#292929;
    width: 100px;
    height: 50px;
    border-radius: 50px;
}
#toggle{
    background-color: #292929;
    margin: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
}
.dark{
    background-color: #292929;
}
.dark #buton{
    border: 1px solid #fff;
}
.dark #toggle{
    transform: translateX(50px);
    background-color: #fff;
    transform: 0.5s;
}
.input{
    width: 200px;
    height: 90px;
    margin-bottom: 30px;
    font-size: 15px;

}
.rivew h1{
    text-align: center;
    font-size: 20px;
}
.rivew .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid black;
    border-radius: .5rem;
    position: relative;
}
.rivew .slide .fa-quote-right{
    position: absolute;
    top: 2rem; right: 2rem;
    font-size: 6rem;
    color: #fff;
}
.rivew .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}
.rivew .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.rivew .slide .user h3{
    color: var(black);
    font-size: 2rem;
    padding-bottom: .5rem;
}
.rivew .slide .user i{
    font-size: 1.3rem;
    color: rgb(116, 222, 116);
}
.rivew .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: rgb(92, 102, 112);
}